<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Our Gallery</title>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap-icons/1.10.5/font/bootstrap-icons.min.css}">
    <link rel="stylesheet" th:href="@{/css/app.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/sidebar.css}">
    <link rel="stylesheet" th:href="@{/css/base.css}">
    <link rel="stylesheet" th:href="@{/css/pagination.css}">
    <link rel="stylesheet" th:href="@{/webjars/sweetalert2/11.7.20/dist/sweetalert2.min.css}">
    <link rel="stylesheet" th:href="@{/css/user/style.css}">
    <link rel="stylesheet" th:href="@{/css/user/responsive.css}">
    <link rel="stylesheet" th:href="@{/css/user/custom.css}">
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/6.4.0/css/all.min.css}">
</head>
<body>
    <th:block th:replace="~{/fragments/user/header :: header}" />
    <th:block th:if="products != null">
        <div class="product-box mt-3">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="title-all text-center">
                            <h1>Product Matched</h1>
                        </div>
                    </div>
                </div>
                <div class="row special-list">
                    <th:block th:each="product : ${products}">
                        <div th:class="'col-lg-3 col-md-6 special-grid '">
                            <div class="products-single fix">
                                <div class="box-img-hover">
                                    <div class="type-lb">
                                        <p class="sale">Sale</p>
                                    </div>
                                    <img th:src="${product.image}" class="img-fluid" alt="Image" style="max-height: 300px; height: 300px">
                                    <div class="mask-icon">
                                        <ul>
                                            <li><a href="#" data-toggle="tooltip" data-placement="right" title="View"><i
                                                    class="fas fa-eye"></i></a></li>
                                        </ul>
                                        <a class="cart" th:attr="data-id=${product.id}" href="#">Add to Cart</a>
                                    </div>
                                </div>
                                <div class="why-text">
                                    <h4 th:text="${product.name}"></h4>
                                    <h5 th:text="'$' + ${product.price}"></h5>
                                    <h5 th:text="'Quantity: ' + ${product.quantity}"></h5>
                                </div>
                            </div>
                        </div>
                    </th:block>
                </div>
            </div>
        </div>
    </th:block>

    <!-- Start Products  -->
    <div class="products-box">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="title-all text-center">
                        <h1>Fruits & Vegetables</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit amet lacus enim.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="special-menu text-center">
                        <div class="button-group filter-button-group">
                            <button class="active" data-filter="*">All</button>
                            <!--                        <button data-filter=".top-featured">Top featured</button>-->
                            <!--                        <button data-filter=".best-seller">Best seller</button>-->
                            <th:block th:each="category : ${categories}">
                                <button th:attr="data-filter='.' + ${category.id}" th:text="${category.name}"></button>
                            </th:block>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row special-list">
                <th:block th:each="category: ${categories}">
                    <th:block th:each="product : ${category.products}">
                        <div th:class="'col-lg-3 col-md-6 special-grid ' + ${category.id}">
                            <div class="products-single fix">
                                <div class="box-img-hover">
                                    <div class="type-lb">
                                        <p class="sale">Sale</p>
                                    </div>
                                    <img th:src="${product.image}" class="img-fluid" alt="Image" style="max-height: 300px; height: 300px">
                                    <div class="mask-icon">
                                        <ul>
                                            <li><a href="#" data-toggle="tooltip" data-placement="right" title="View"><i
                                                    class="fas fa-eye"></i></a></li>
                                        </ul>
                                        <a class="cart" th:attr="data-id=${product.id}" href="#">Add to Cart</a>
                                    </div>
                                </div>
                                <div class="why-text">
                                    <h4 th:text="${product.name}"></h4>
                                    <h5 th:text="'$' + ${product.price}"></h5>
                                    <h5 th:text="'Quantity: ' + ${product.quantity}"></h5>
                                </div>
                            </div>
                        </div>
                    </th:block>
                </th:block>
            </div>
        </div>
    </div>

    <!-- End Products  -->
    <script th:src="@{/webjars/jquery/3.6.4/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/2.0.2/umd/popper.js}"></script>
    <script th:src="@{/webjars/bootstrap/5.2.3/js/bootstrap.min.js}"></script>
    <script th:src="@{/webjars/sweetalert2/11.7.20/dist/sweetalert2.all.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/5.2.3/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/webjars/font-awesome/6.4.0/js/all.min.js}"></script>
    <script th:src="@{/js/vendor/jquery.superslides.min.js}"></script>
    <script th:src="@{/js/vendor/bootstrap-select.js}"></script>
    <script th:src="@{/js/vendor/jquery.nicescroll.min.js}"></script>
    <script th:src="@{/js/vendor/jquery.superslides.min.js}"></script>
    <script th:src="@{/js/vendor/inewsticker.js}"></script>
    <script th:src="@{/js/vendor/images-loded.min.js}"></script>
    <script th:src="@{/js/vendor/isotope.min.js}"></script>
    <script th:src="@{/js/vendor/owl.carousel.min.js}"></script>
    <script th:src="@{/js/vendor/baguetteBox.min.js}"></script>
    <script th:src="@{/js/vendor/form-validator.min.js}"></script>
    <script th:src="@{/js/vendor/contact-form-script.js}"></script>
    <script th:src="@{/js/vendor/bootsnav.js}"></script>
    <script th:src="@{/js/vendor/custom.js}"></script>
    <script th:src="@{/js/user/addToCart.js}"></script>
    <script th:src="@{/js/user/logout.js}"></script>
</body>
</html>