<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Your Order Served</title>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/webjars/bootstrap-icons/1.10.5/font/bootstrap-icons.min.css}">
    <link rel="stylesheet" th:href="@{/css/app.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/sidebar.css}">
    <link rel="stylesheet" th:href="@{/css/base.css}">
    <link rel="stylesheet" th:href="@{/css/pagination.css}">
    <link rel="stylesheet" th:href="@{/webjars/sweetalert2/11.7.20/dist/sweetalert2.min.css}">
    <link rel="stylesheet" th:href="@{/css/user/style.css}">
    <link rel="stylesheet" th:href="@{/css/user/responsive.css}">
    <link rel="stylesheet" th:href="@{/css/user/custom.css}">
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/6.4.0/css/all.min.css}">
</head>
<body>
<th:block th:if="${user != null}">
    <th:block th:replace="~{/fragments/user/header :: header(user = ${user})}"></th:block>
</th:block>
<th:block th:unless="${user != null}">
    <th:block th:replace="~{/fragments/user/header :: header}"></th:block>
</th:block>

<div class="cart-box-main">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="table-main table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Order</th>
                            <th>Created Date</th>
                            <th>Quantity</th>
                            <th>Total Price</th>
                            <th>Phone</th>
                            <th>Address</th>
                            <th>Details</th>
                            <th>Edit</th>
                        </tr>
                        </thead>
                        <tbody>
                        <th:block th:each="order : ${user.orders}">
                            <tr th:attr="data-id=${order.id}">
                                <td class="thumbnail-img">
                                    <a href="#">
                                        <img class="img-fluid" th:src="@{/images/oder-image.png}" alt=""/>
                                    </a>
                                </td>
                                <td class="name-pr">
                                    <a th:text="${order.createdDate}" href="#">
                                    </a>
                                </td>
                                <td class="price-pr">
                                    <p th:text="${user.orders.size()}">$ 80.0</p>
                                </td>
                                <td class="total-pr">
                                    <p th:text="'$ ' +  ${order.total}" class="total_price">$ 80.0</p>
                                </td>
                                <td class="phone-pr">
                                    <p th:text="${order.phone}" class="order-phone">$ 80.0</p>
                                </td>

                                <td class="address-pr">
                                    <p th:text="${order.address}" class="order-address">$ 80.0</p>
                                </td>
                                <td class="order-details text-center" th:attr="data-id=${order.id}">
                                    <th:block th:each="orderDetail : ${order.orderDetails}">
                                        <div class="media mb-2 border-bottom">
                                            <div class="media-body"><a href="#" th:text="${orderDetail.product.name}"></a>
                                                <div class="small text-muted"><th:block th:text="${orderDetail.product.name}"></th:block><span class="mx-2">|</span> <th:block th:text="'Qty: ' + ${orderDetail.quantity}"></th:block>
                                                    <span class="mx-2">|</span> Subtotal: $<th:block th:text="${orderDetail.product.price * orderDetail.quantity}"></th:block>
                                                </div>
                                            </div>
                                        </div>
                                    </th:block>
                                </td>
                                <td class="remove-pr text-center" th:attr="data-id=${order.id}">
                                    <a th:href="@{'/order/' + ${order.id}}" class="btn btn-success">
                                        <i class="bi bi-telephone"></i>
                                    </a>
                                </td>
                            </tr>
                        </th:block>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- End Products  -->
<script th:src="@{/webjars/jquery/3.6.4/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/2.0.2/umd/popper.js}"></script>
<script th:src="@{/webjars/bootstrap/5.2.3/js/bootstrap.min.js}"></script>
<script th:src="@{/webjars/sweetalert2/11.7.20/dist/sweetalert2.all.min.js}"></script>
<script th:src="@{/webjars/bootstrap/5.2.3/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/webjars/font-awesome/6.4.0/js/all.min.js}"></script>
<script th:src="@{/js/vendor/jquery.superslides.min.js}"></script>
<script th:src="@{/js/vendor/bootstrap-select.js}"></script>
<script th:src="@{/js/vendor/jquery.nicescroll.min.js}"></script>
<script th:src="@{/js/vendor/jquery.superslides.min.js}"></script>
<script th:src="@{/js/vendor/inewsticker.js}"></script>
<script th:src="@{/js/vendor/images-loded.min.js}"></script>
<script th:src="@{/js/vendor/isotope.min.js}"></script>
<script th:src="@{/js/vendor/owl.carousel.min.js}"></script>
<script th:src="@{/js/vendor/baguetteBox.min.js}"></script>
<script th:src="@{/js/vendor/form-validator.min.js}"></script>
<script th:src="@{/js/vendor/contact-form-script.js}"></script>
<script th:src="@{/js/vendor/bootsnav.js}"></script>
<script th:src="@{/js/vendor/custom.js}"></script>
<script th:src="@{/js/user/logout.js}"></script>
</body>
</html>